@model HotDogAssignment.Models.HotDogLover

@{
    ViewBag.Title = "Index";
}

<div class="row" style="padding-top:10px;">
    <div class="col-sm-10"><h2>Hot Dog Lover Profile</h2></div>
    <div class="col-sm-2"><h3><u>@Html.ActionLink("Edit", "Edit", new { /* id=model.PrimaryKey */ }) </u></h3></div>
</div>

<div class="row" style="padding-top:10px;">
    <div class="col-sm-3">
        <div><img src=@Model.ProfilePic class="img-responsive" alt="delicious"></div>
        <div>Favorite Dog: @Html.DisplayFor(model => model.FavoriteDog)</div>
        <div>Last Ate: </div>
        <div>Date: @Html.DisplayFor(model => model.Date)</div>
    </div>
    <div class="col-sm-9">
        <div style="font-size:20px"><b>@Html.DisplayFor(model => model.Name)</b></div>
        <div>@Html.DisplayFor(model => model.Bio)</div>
        
    </div>
</div>



